<!-- CUERPO DEL EJERCICIO -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{cita.cName}} {{cita.cLastName}}</li>
                        <li class="list-group-item">{{cita.cEmail}} ({{cita.cPhone}})</li>
                        <li class="list-group-item">{{cita.cDate}} {{cita.cTime}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>
    </div>
</main>