<div class="row">
    {{#each citas}}
    <div class="col-md-12 my-2">
        <div class="card">
            <div class="card-header">
                Datos de la cita
            </div>
            <div class="card-body">
                <p class="card-text">A Sr {{cName}} {{cLastName}} ha solicitado su cita para el dia {{cDate}} su
                    identificacion es {{_id}}</p>
                <a href="/citas/edit/{{_id}}" class="btn btn-primary">Editar cita</a>
                <a href="/citas/delete/{{_id}}" class="btn btn-danger">Eliminar cita</a>

            </div>
        </div>
    </div>
    {{/each}}
</div>